In [56]:
#Create a Database 
import pymongo
import pandas as pd
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Data_Tracker"]

#Import table in Mongo and use find to see table info 
my = mydb["customers"]
for x in my.find():
    print(x)

{'_id': ObjectId('5e56256b12b10e1138871515'), 'Labels': '1', 'Catergories': 'Chips', 'Brands': 'Simba 125g', 'Cost Price': '8', 'Prices': '16', 'Stock': '50', 'Brands Sold for Month': '45', 'Profit': '384', 'Barcode': '1000456'}
{'_id': ObjectId('5e56256b12b10e1138871516'), 'Labels': '2', 'Catergories': 'Chips', 'Brands': 'Lays 125g', 'Cost Price': '9', 'Prices': '18', 'Stock': '50', 'Brands Sold for Month': '50', 'Profit': '450', 'Barcode': '1000457'}
{'_id': ObjectId('5e56256b12b10e1138871517'), 'Labels': '3', 'Catergories': 'Chips', 'Brands': 'Doritos 125g', 'Cost Price': '8', 'Prices': '16', 'Stock': '50', 'Brands Sold for Month': '48', 'Profit': '384', 'Barcode': '1000458'}
{'_id': ObjectId('5e56256b12b10e1138871518'), 'Labels': '4', 'Catergories': 'Cooldrink', 'Brands': 'Coke 2lt', 'Cost Price': '10', 'Prices': '20', 'Stock': '100', 'Brands Sold for Month': '100', 'Profit': '1000', 'Barcode': '1212133'}
{'_id': ObjectId('5e56256b12b10e1138871519'), 'Labels': '5', 'Catergories': 'Cooldrink', 'Brands': 'Fanta 2lt', 'Cost Price': '9', 'Prices': '18', 'Stock': '100', 'Brands Sold for Month': '90', 'Profit': '810', 'Barcode': '1212134'}
{'_id': ObjectId('5e56256b12b10e113887151a'), 'Labels': '6', 'Catergories': 'Cooldrink', 'Brands': 'Sprite 2lt', 'Cost Price': '9', 'Prices': '18', 'Stock': '100', 'Brands Sold for Month': '98', 'Profit': '882', 'Barcode': '1212135'}
{'_id': ObjectId('5e56256b12b10e113887151b'), 'Labels': '7', 'Catergories': 'Chocolates', 'Brands': 'Cadbury 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '48', 'Profit': '192', 'Barcode': '9977881'}
{'_id': ObjectId('5e56256b12b10e113887151c'), 'Labels': '8', 'Catergories': 'Chocolates', 'Brands': 'Tex 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '50', 'Profit': '250', 'Barcode': '9977882'}
{'_id': ObjectId('5e56256b12b10e113887151d'), 'Labels': '9', 'Catergories': 'Chocolates', 'Brands': 'PS 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '38', 'Profit': '190', 'Barcode': '9977883'}
{'_id': ObjectId('5e56256b12b10e113887151e'), 'Labels': '10', 'Catergories': 'Pies', 'Brands': 'Pepper Steak', 'Cost Price': '10', 'Prices': '20', 'Stock': '40', 'Brands Sold for Month': '39', 'Profit': '390', 'Barcode': '4745152'}
{'_id': ObjectId('5e56256b12b10e113887151f'), 'Labels': '11', 'Catergories': 'Pies', 'Brands': 'Chicken', 'Cost Price': '8', 'Prices': '16', 'Stock': '40', 'Brands Sold for Month': '30', 'Profit': '240', 'Barcode': '4745153'}
{'_id': ObjectId('5e56256b12b10e1138871520'), 'Labels': '12', 'Catergories': 'Pies', 'Brands': 'Steak & Kidney', 'Cost Price': '10', 'Prices': '20', 'Stock': '40', 'Brands Sold for Month': '40', 'Profit': '400', 'Barcode': '4745154'}
{'_id': ObjectId('5e56256b12b10e1138871521'), 'Labels': '13', 'Catergories': 'Fruit', 'Brands': 'Pear', 'Cost Price': '6', 'Prices': '12', 'Stock': '50', 'Brands Sold for Month': '45', 'Profit': '270', 'Barcode': '1111119'}
{'_id': ObjectId('5e56256b12b10e1138871522'), 'Labels': '14', 'Catergories': 'Fruit', 'Brands': 'Apple', 'Cost Price': '6', 'Prices': '12', 'Stock': '50', 'Brands Sold for Month': '40', 'Profit': '240', 'Barcode': '1111118'}
{'_id': ObjectId('5e56256b12b10e1138871523'), 'Labels': '15', 'Catergories': 'Fruit', 'Brands': 'Orange', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '39', 'Profit': '195', 'Barcode': '1111117'}
{'_id': ObjectId('5e56256b12b10e1138871524'), 'Labels': '16', 'Catergories': 'Cupcakes', 'Brands': 'Chocolate (6)', 'Cost Price': '9', 'Prices': '18', 'Stock': '100', 'Brands Sold for Month': '95', 'Profit': '1710', 'Barcode': '1238542'}
{'_id': ObjectId('5e56256b12b10e1138871525'), 'Labels': '17', 'Catergories': 'Cupcakes', 'Brands': 'Vanilla (6)', 'Cost Price': '7', 'Prices': '14', 'Stock': '100', 'Brands Sold for Month': '80', 'Profit': '560', 'Barcode': '1238543'}
{'_id': ObjectId('5e56256b12b10e1138871526'), 'Labels': '18', 'Catergories': 'Cupcakes', 'Brands': 'Blueberry (6)', 'Cost Price': '10', 'Prices': '20', 'Stock': '100', 'Brands Sold for Month': '100', 'Profit': '1000', 'Barcode': '1238544'}
{'_id': ObjectId('5e56256b12b10e1138871527'), 'Labels': '19', 'Catergories': 'Veg', 'Brands': 'Spinach', 'Cost Price': '8', 'Prices': '16', 'Stock': '30', 'Brands Sold for Month': '25', 'Profit': '200', 'Barcode': '7859423'}
{'_id': ObjectId('5e56256b12b10e1138871528'), 'Labels': '20', 'Catergories': 'Veg', 'Brands': 'Cabbage', 'Cost Price': '8', 'Prices': '16', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '240', 'Barcode': '7859424'}
{'_id': ObjectId('5e56256b12b10e1138871529'), 'Labels': '21', 'Catergories': 'Veg', 'Brands': 'Tomato', 'Cost Price': '5', 'Prices': '10', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '150', 'Barcode': '7859425'}
{'_id': ObjectId('5e56256b12b10e113887152a'), 'Labels': '22', 'Catergories': 'Veg', 'Brands': 'Carrots', 'Cost Price': '5', 'Prices': '10', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '150', 'Barcode': '1501236'}
{'_id': ObjectId('5e56256b12b10e113887152b'), 'Labels': '', 'Catergories': None, 'Brands': None, 'Cost Price': None, 'Prices': None, 'Stock': None, 'Brands Sold for Month': None, 'Profit': None, 'Barcode': None}

In [31]:
#3. Manually Created top 3 therefore top 3 was manually created caused all brands for the month was sold out
mycol = mydb["Data_Tracker"]
mycol = mydb["Top 3"] 
mylist = [
  { "Labels": 4, "Catergories": "Chips", "Brands": "Lays 125g", "Cost Price": 9, "Prices": 18, "Stock": 50, "Brands Sold for Month": 50, "Profit": 450, "Barcode": 1000456},             
  { "Labels": 18, "Catergories": "Cupcakes", "Brands": "Blueberry", "Cost Price": 10, "Prices": 20, "Stock": 100, "Brands Sold for Month": 100, "Profit": 1000, "Barcode": 1238544},
  { "Labels": 21, "Catergories": "Veg", "Brands": "Tomato", "Cost Price": 5, "Prices": 10, "Stock": 30, "Brands Sold for Month": 30, "Profit": 150, "Barcode": 7859425}
    ]
x = mycol.insert_many(mylist)

In [59]:
# 4. Two new muliple documents were added 
mycol = mydb["Data_Tracker"]
mycol = mydb["Top 3"] 
mylist = [
  { "Labels": 24, "Catergories": "Veg", "Brands": "Patatoes", "Cost Price": 5, "Prices": 10, "Stock": 50, "Brands Sold for Month": 49, "Profit": 490, "Barcode": 1084154},             
  { "Labels": 25, "Catergories": "Veg", "Brands": "Pumpkin", "Cost Price": 10, "Prices": 20, "Stock": 50, "Brands Sold for Month": 48, "Profit": 480, "Barcode": 1238588}
    ]
x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x)

<pymongo.results.InsertManyResult object at 0x000001C141C7D908>

In [57]:
#5. Descending
mydoc = my.find().sort("Brands", -1)
for x in mydoc:
    print(x)

{'_id': ObjectId('5e56256b12b10e1138871525'), 'Labels': '17', 'Catergories': 'Cupcakes', 'Brands': 'Vanilla (6)', 'Cost Price': '7', 'Prices': '14', 'Stock': '100', 'Brands Sold for Month': '80', 'Profit': '560', 'Barcode': '1238543'}
{'_id': ObjectId('5e56256b12b10e1138871529'), 'Labels': '21', 'Catergories': 'Veg', 'Brands': 'Tomato', 'Cost Price': '5', 'Prices': '10', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '150', 'Barcode': '7859425'}
{'_id': ObjectId('5e56256b12b10e113887151c'), 'Labels': '8', 'Catergories': 'Chocolates', 'Brands': 'Tex 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '50', 'Profit': '250', 'Barcode': '9977882'}
{'_id': ObjectId('5e56256b12b10e1138871520'), 'Labels': '12', 'Catergories': 'Pies', 'Brands': 'Steak & Kidney', 'Cost Price': '10', 'Prices': '20', 'Stock': '40', 'Brands Sold for Month': '40', 'Profit': '400', 'Barcode': '4745154'}
{'_id': ObjectId('5e56256b12b10e113887151a'), 'Labels': '6', 'Catergories': 'Cooldrink', 'Brands': 'Sprite 2lt', 'Cost Price': '9', 'Prices': '18', 'Stock': '100', 'Brands Sold for Month': '98', 'Profit': '882', 'Barcode': '1212135'}
{'_id': ObjectId('5e56256b12b10e1138871527'), 'Labels': '19', 'Catergories': 'Veg', 'Brands': 'Spinach', 'Cost Price': '8', 'Prices': '16', 'Stock': '30', 'Brands Sold for Month': '25', 'Profit': '200', 'Barcode': '7859423'}
{'_id': ObjectId('5e56256b12b10e1138871515'), 'Labels': '1', 'Catergories': 'Chips', 'Brands': 'Simba 125g', 'Cost Price': '8', 'Prices': '16', 'Stock': '50', 'Brands Sold for Month': '45', 'Profit': '384', 'Barcode': '1000456'}
{'_id': ObjectId('5e56256b12b10e113887151e'), 'Labels': '10', 'Catergories': 'Pies', 'Brands': 'Pepper Steak', 'Cost Price': '10', 'Prices': '20', 'Stock': '40', 'Brands Sold for Month': '39', 'Profit': '390', 'Barcode': '4745152'}
{'_id': ObjectId('5e56256b12b10e1138871521'), 'Labels': '13', 'Catergories': 'Fruit', 'Brands': 'Pear', 'Cost Price': '6', 'Prices': '12', 'Stock': '50', 'Brands Sold for Month': '45', 'Profit': '270', 'Barcode': '1111119'}
{'_id': ObjectId('5e56256b12b10e113887151d'), 'Labels': '9', 'Catergories': 'Chocolates', 'Brands': 'PS 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '38', 'Profit': '190', 'Barcode': '9977883'}
{'_id': ObjectId('5e56256b12b10e1138871523'), 'Labels': '15', 'Catergories': 'Fruit', 'Brands': 'Orange', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '39', 'Profit': '195', 'Barcode': '1111117'}
{'_id': ObjectId('5e56256b12b10e1138871516'), 'Labels': '2', 'Catergories': 'Chips', 'Brands': 'Lays 125g', 'Cost Price': '9', 'Prices': '18', 'Stock': '50', 'Brands Sold for Month': '50', 'Profit': '450', 'Barcode': '1000457'}
{'_id': ObjectId('5e56256b12b10e1138871519'), 'Labels': '5', 'Catergories': 'Cooldrink', 'Brands': 'Fanta 2lt', 'Cost Price': '9', 'Prices': '18', 'Stock': '100', 'Brands Sold for Month': '90', 'Profit': '810', 'Barcode': '1212134'}
{'_id': ObjectId('5e56256b12b10e1138871517'), 'Labels': '3', 'Catergories': 'Chips', 'Brands': 'Doritos 125g', 'Cost Price': '8', 'Prices': '16', 'Stock': '50', 'Brands Sold for Month': '48', 'Profit': '384', 'Barcode': '1000458'}
{'_id': ObjectId('5e56256b12b10e1138871518'), 'Labels': '4', 'Catergories': 'Cooldrink', 'Brands': 'Coke 2lt', 'Cost Price': '10', 'Prices': '20', 'Stock': '100', 'Brands Sold for Month': '100', 'Profit': '1000', 'Barcode': '1212133'}
{'_id': ObjectId('5e56256b12b10e1138871524'), 'Labels': '16', 'Catergories': 'Cupcakes', 'Brands': 'Chocolate (6)', 'Cost Price': '9', 'Prices': '18', 'Stock': '100', 'Brands Sold for Month': '95', 'Profit': '1710', 'Barcode': '1238542'}
{'_id': ObjectId('5e56256b12b10e113887151f'), 'Labels': '11', 'Catergories': 'Pies', 'Brands': 'Chicken', 'Cost Price': '8', 'Prices': '16', 'Stock': '40', 'Brands Sold for Month': '30', 'Profit': '240', 'Barcode': '4745153'}
{'_id': ObjectId('5e56256b12b10e113887152a'), 'Labels': '22', 'Catergories': 'Veg', 'Brands': 'Carrots', 'Cost Price': '5', 'Prices': '10', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '150', 'Barcode': '1501236'}
{'_id': ObjectId('5e56256b12b10e113887151b'), 'Labels': '7', 'Catergories': 'Chocolates', 'Brands': 'Cadbury 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '48', 'Profit': '192', 'Barcode': '9977881'}
{'_id': ObjectId('5e56256b12b10e1138871528'), 'Labels': '20', 'Catergories': 'Veg', 'Brands': 'Cabbage', 'Cost Price': '8', 'Prices': '16', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '240', 'Barcode': '7859424'}
{'_id': ObjectId('5e56256b12b10e1138871526'), 'Labels': '18', 'Catergories': 'Cupcakes', 'Brands': 'Blueberry (6)', 'Cost Price': '10', 'Prices': '20', 'Stock': '100', 'Brands Sold for Month': '100', 'Profit': '1000', 'Barcode': '1238544'}
{'_id': ObjectId('5e56256b12b10e1138871522'), 'Labels': '14', 'Catergories': 'Fruit', 'Brands': 'Apple', 'Cost Price': '6', 'Prices': '12', 'Stock': '50', 'Brands Sold for Month': '40', 'Profit': '240', 'Barcode': '1111118'}
{'_id': ObjectId('5e56256b12b10e113887152b'), 'Labels': '', 'Catergories': None, 'Brands': None, 'Cost Price': None, 'Prices': None, 'Stock': None, 'Brands Sold for Month': None, 'Profit': None, 'Barcode': None}

In [60]:
#6 Delete 2 brands 
myquery = { "Brands": "Pumpkin" }
mycol.delete_one(myquery)
#Print customer collection afer the deletion
for x in mycol.find():
    print(x)

{'_id': ObjectId('5e565e22d7f9a845c0176a78'), 'Labels': 4, 'Catergories': 'Chips', 'Brands': 'Lays 125g', 'Cost Price': 9, 'Prices': 18, 'Stock': 50, 'Brands Sold for Month': 50, 'Profit': 450, 'Barcode': 1000456}
{'_id': ObjectId('5e565e22d7f9a845c0176a79'), 'Labels': 18, 'Catergories': 'Cupcakes', 'Brands': 'Blueberry', 'Cost Price': 10, 'Prices': 20, 'Stock': 100, 'Brands Sold for Month': 100, 'Profit': 1000, 'Barcode': 1238544}
{'_id': ObjectId('5e5660e1d7f9a845c0176a7f'), 'Labels': 21, 'Catergories': 'Veg', 'Brands': 'Tomato', 'Cost Price': 5, 'Prices': 10, 'Stock': 30, 'Brands Sold for Month': 30, 'Profit': 150, 'Barcode': 7859425}
{'_id': ObjectId('5e566b4bd7f9a845c0176a86'), 'Labels': 24, 'Catergories': 'Veg', 'Brands': 'Patatoes', 'Cost Price': 5, 'Prices': 10, 'Stock': 50, 'Brands Sold for Month': 49, 'Profit': 490, 'Barcode': 1084154}

In [63]:
myquery = { "Brands": "Patatoes" }
mycol.delete_one(myquery)
#Print customer collection afer the deletion
for x in mycol.find():
    print(x)

{'_id': ObjectId('5e565e22d7f9a845c0176a78'), 'Labels': 4, 'Catergories': 'Chips', 'Brands': 'Lays 125g', 'Cost Price': 9, 'Prices': 18, 'Stock': 50, 'Brands Sold for Month': 50, 'Profit': 450, 'Barcode': 1000456}
{'_id': ObjectId('5e565e22d7f9a845c0176a79'), 'Labels': 18, 'Catergories': 'Cupcakes', 'Brands': 'Blueberry', 'Cost Price': 10, 'Prices': 20, 'Stock': 100, 'Brands Sold for Month': 100, 'Profit': 1000, 'Barcode': 1238544}
{'_id': ObjectId('5e5660e1d7f9a845c0176a7f'), 'Labels': 21, 'Catergories': 'Veg', 'Brands': 'Tomato', 'Cost Price': 5, 'Prices': 10, 'Stock': 30, 'Brands Sold for Month': 30, 'Profit': 150, 'Barcode': 7859425}

In [70]:
# 7. Update 1 product 
myquery = { "Brands": "Blueberry" }
newvalues = {"$set": {"Brands": "Cappuccino"}}
mycol.update_one(myquery, newvalues)
#print "customers after the update":
for x in mycol.find():
    print(x)

{'_id': ObjectId('5e565e22d7f9a845c0176a78'), 'Labels': 4, 'Catergories': 'Chips', 'Brands': 'Lays 125g', 'Cost Price': 9, 'Prices': 18, 'Stock': 50, 'Brands Sold for Month': 50, 'Profit': 450, 'Barcode': 1000456}
{'_id': ObjectId('5e565e22d7f9a845c0176a79'), 'Labels': 18, 'Catergories': 'Cupcakes', 'Brands': 'Cappuccino', 'Cost Price': 10, 'Prices': 20, 'Stock': 100, 'Brands Sold for Month': 100, 'Profit': 1000, 'Barcode': 1238544}
{'_id': ObjectId('5e5660e1d7f9a845c0176a7f'), 'Labels': 21, 'Catergories': 'Veg', 'Brands': 'Tomato', 'Cost Price': 5, 'Prices': 10, 'Stock': 30, 'Brands Sold for Month': 30, 'Profit': 150, 'Barcode': 7859425}

In [94]:
#8. Filter the least 5 
mycol = mydb["customers"]
myquery = ({ "Prices": { '$lte': '10' }}) #$lte less then equal
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5e56256b12b10e113887151b'), 'Labels': '7', 'Catergories': 'Chocolates', 'Brands': 'Cadbury 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '48', 'Profit': '192', 'Barcode': '9977881'}
{'_id': ObjectId('5e56256b12b10e113887151c'), 'Labels': '8', 'Catergories': 'Chocolates', 'Brands': 'Tex 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '50', 'Profit': '250', 'Barcode': '9977882'}
{'_id': ObjectId('5e56256b12b10e113887151d'), 'Labels': '9', 'Catergories': 'Chocolates', 'Brands': 'PS 50g', 'Cost Price': '5', 'Prices': '10', 'Stock': '50', 'Brands Sold for Month': '38', 'Profit': '190', 'Barcode': '9977883'}
{'_id': ObjectId('5e56256b12b10e1138871529'), 'Labels': '21', 'Catergories': 'Veg', 'Brands': 'Tomato', 'Cost Price': '5', 'Prices': '10', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '150', 'Barcode': '7859425'}
{'_id': ObjectId('5e56256b12b10e113887152a'), 'Labels': '22', 'Catergories': 'Veg', 'Brands': 'Carrots', 'Cost Price': '5', 'Prices': '10', 'Stock': '30', 'Brands Sold for Month': '30', 'Profit': '150', 'Barcode': '1501236'}